<?xml version="1.0"?>
<model>
  <name>river_and_forest</name>
  <version>1.0</version>
  <!-- indica el fichero SDF principal -->
  <sdf version="1.6">model.sdf</sdf>
  <author>
    <name>Tu Nombre</name>
    <email>tu@correo.com</email>
  </author>
  <description>
    Modelo genérico de terreno importado desde COLLADA.
  </description>
</model>

