<?xml version="1.0"?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
  <xacro:macro name="lidar" params="name parent origin_xyz origin_rpy mass update_rate min_angle max_angle stddev num_samples min_range max_range">
    <link name="${name}_link">
      <inertial>
        <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
        <mass value="${mass}" />
        <inertia ixx="0.00069055" ixy="0" ixz="0" iyy="0.0006838" iyz="0" izz="0.00083911" />
      </inertial>
      <visual>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find j8_xacro_model)/meshes/${name}.STL" />
        </geometry>
        <!-- Default color for all lidars -->
        <material name="">
          <color rgba="0.5 0.5 0.5 1" />
        </material>
      </visual>
      <collision>
        <origin xyz="0 0 0" rpy="0 0 0" />
        <geometry>
          <mesh filename="file://$(find j8_xacro_model)/meshes/${name}.STL" />
        </geometry>
      </collision>
    </link>
    <joint name="${name}_joint" type="fixed">
      <origin xyz="${origin_xyz}" rpy="${origin_rpy}" />
      <parent link="${parent}" />
      <child link="${name}_link" />
      <axis xyz="0 0 0" />
    </joint>
   <xacro:set_gazebo_color link_name="${name}_link" r="0.8" g="0.8" b="0.8"/> <!-- Light Grey -->
    <!-- Plugin Definition -->
    <gazebo reference="${name}_link">
      <sensor type="gpu_ray" name="${name}">
        <pose>0 0 0 0 0 0</pose>
        <visualize>1</visualize>
        <update_rate>${update_rate}</update_rate>
        <ray>
          <scan>
            <horizontal>
              <samples>${num_samples}</samples>
              <resolution>1</resolution>
              <min_angle>${min_angle}</min_angle>
              <max_angle>${max_angle}</max_angle>
            </horizontal>
          </scan>
          <range>
            <min>${min_range}</min>
            <max>${max_range}</max>
            <resolution>0.001</resolution>
          </range>
          <noise>
            <type>gaussian</type>
            <mean>0.0</mean>
            <stddev>${stddev}</stddev>
          </noise>
        </ray>
        <plugin name="${name}_plugin" filename="libgazebo_ros_ray_sensor.so">
          <ros>
            <namespace>${robot_namespace}</namespace>
            <remapping>~/out:=/${robot_namespace}/${name}_scan</remapping>
          </ros>
          <!-- Fixed output type for all lidars -->
          <output_type>sensor_msgs/LaserScan</output_type>
          <frame_name>${name}_link</frame_name>
        </plugin>
      </sensor>
    </gazebo>
  </xacro:macro>
</robot>
